.article {
    /* display: flex; */
    /* flex-direction: column; */
    background: rgb(212, 212, 212);
}

.article-content-container {
    display: flex;
    padding: 2em;
}

.article-text-editor {
    width: 40vw;
    margin-right: 2em;
}
.article-text-editor img {
    width: 5px !important;
}

.article-text-title {
    width: 100%;
    margin-bottom: 0.3em;
}

.article-text-title .title-input {
    width: 100%;
    padding: 0.3em 0.3em 0.3em 0.3em;
    font-size: 1.25rem;
    font-weight: bold;
}
.article-text-subtitle {
    width: 100%;
    margin-bottom: 0.3em;
}
.article-text-subtitle .subtitle-textarea {
    width: 100%;
    height: 7em;
    font-size: 1rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.3em;
    padding: 0.5em;
    resize: none;
    line-height: 1.4;
}

.article-info {
    flex: 2;
}

.article-info label, .article-info input, .article-info select {
    display: block;
    margin-bottom: 0.5em;
}

@media all and (max-width: 780px) {
    .article-content-container {
        flex-direction: column;
    }
    .article-text-editor {
        width: 100%;
        margin-right: 0px;
        order: 3;
    }
    .article-text {
        order: 1;
    }
}