.article-navigation {
    display: flex;
    font-size: 1.5rem;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background: linear-gradient(180deg, rgb(102, 102, 102), rgb(151, 151, 151));
}
.article-navigation-tabs {
    display: flex;
}
.article-navigation-tab {
    padding: 0.2em 0.5em 0.2em 0.5em;
}
.article-navigation-tab:hover {
    cursor: pointer;
}

.active-tab {
    color: white;
}
.fake-article-navigation-element {
    flex: 1;
    background: red;
}
