.call {
    background: white;
    border: solid black 5px;
    margin: 15px;
    padding: 15px
}

.video {
    height: 400px;
    width: 100%;
}

.local-video {
    border: 5px solid green;
    margin-bottom: 2em;
}

.remote-video {
    border: 5px solid red;
}
