.find {
    display: flex;
    padding: 1em 3em 1em 3em;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.find > * {
    
    /* margin-right: 5.5em; */
}
.find > div:last-child {
    margin-right: 0px;
}
.cathegory {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 40%;
    padding: 1em 0.5em 1em 0.5em;
    background:rgb(148, 148, 148);
    color: white;
    transition: transform 250ms;
}

.cathegory:focus-within  {
    outline: 3px solid green;
    transform: scale(1.1);
}
.cathegory-cathegories label {
    font-size: .8rem;
    letter-spacing: 1px;
    margin-right: 1.25em;
}
.cathegory-cathegories select {
    letter-spacing: 1.25px;
    margin-right: 1.25em;
}
.cathegory-cathegories option {
    letter-spacing: 1px;
    font-size: 1rem;
}
.cathegory-button .btn {
    background: green;
    color: white;
    text-align: center;
    padding: 0.2em 2em 0.2em 2em;
    width: 100px;
}

.cathegory-button .btn:hover {
    background:rgb(0, 150, 0);   
    cursor: pointer;
}

/*calendar*/

/* .calendar-wrapper input {
    border: 2px solid blue;
} */

.calendar-container {
    display: inline-block;
    margin-right: 2em;
    cursor: not-allowed;
    pointer-events: none;
    color: black;
}

.calendar-container.active {
    cursor: pointer;
    pointer-events: all;
    color: white;
}

/* .calendar-select:hover {
    cursor: pointer;
} */


.calendar-select span {
    margin-right: 0.5em;
}

.react-calendar {
    position: absolute;
    display: none;
}

.react-calendar.show {
    display: block;
}

.search-button.sending {
    background: rgb(81, 219, 1);
    cursor: pointer;
}

.fa-calendar-alt.show {
    transform: scale(1.11)
}
/* .fa-calendar-alt:hover {
    cursor: pointer;
}
 */


@media all and (max-width: 748px) {
    .find {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding: 1em 0em 1em 0em;
    }
    .cathegory {
        order: -1;
        padding: 0.5em 0em 0.5em 0em;
      /*   flex-direction: column; */
        margin-bottom: 1em;


    }
    .cathegory > * {
        /* margin-bottom: 1em; */
    }
    #cathegory-cathegories {
        /* margin-right: 0; */
    }
    .calendar-container {
        /* margin-right: 0; */
    }
}

