.find {
    display: flex;
    justify-content: center;
    padding: 0.3em;
}
.cathegory {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;

}
.cathegory-cathegories label {
    font-size: .8rem;
    letter-spacing: 1px;
    margin-right: 1.25em;
}
.cathegory-cathegories select {
    letter-spacing: 1.25px;
    margin-right: 1.25em;
}
.cathegory-cathegories option {
    letter-spacing: 1px;
    font-size: 1rem;
}
.cathegory-button .btn {
    background: green;
    color: white;
    text-align: center;
    padding: 0.2em 2em 0.2em 2em;
}

.cathegory-button .btn:hover {
    background:rgb(0, 150, 0);   
    cursor: pointer;
}

/*calendar*/

.calendar-wrapper input {
    border: black
}

.calendar-container {
    display: inline-block;
    margin-right: 2em;
    color: rgb(148, 148, 148);
    cursor: not-allowed;
    pointer-events: none;
}

.calendar-container.active {
    color: black;
    cursor: pointer;
    pointer-events: all;
}

/* .calendar-select:hover {
    cursor: pointer;
} */


.calendar-select span {
    margin-right: 0.5em;
}

.react-calendar {
    position: absolute;
    display: none;
}

.react-calendar.show {
    display: block;
}

.search-button.sending {
    background: rgb(81, 219, 1);
    cursor: pointer;
}

.fa-calendar-alt.show {
    transform: scale(1.11)
}
/* .fa-calendar-alt:hover {
    cursor: pointer;
}
 */


@media all and (max-width: 748px) {
    .find {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

