.chat {
    margin-left: 2em;
    margin-top: 1em;
    border: 4px solid black;
    padding: 15px;
    background: white;
    width: 450px;
    height: 500px;  
}
.chat-messages  {
    height: 100%;
    overflow: scroll;
}

.one-message {
    display: flex;
    margin-bottom: 5px;
}
.one-message.my-message {
    justify-content: flex-end;
}
.one-message.their-message {
    justify-content: flex-start;
}

.one-message-content {
    margin: 0px 5px 5px 5px;
    /* padding: 10px 20px 10px 20px; */ 
    border-radius: 0 15px 15px 25px;
    max-width: 60%;
}

.my-message .one-message-content {
    background-color: #7298ff;
    background-color: #e0dfdf
}

.their-message .one-message-content {
    background-color: #2962ff;
    background-color: #d5e0ff;
}

.chat-username {
    color: rgb(143, 1, 1);
    margin-bottom: 0.25em;
    padding: 10px 20px 0px 20px;
    font-size: 1.25rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
    letter-spacing: 0.5px;
}
.one-message-text {
    display: inline-block;
    /* color: white; */
    margin-bottom: 0.5em;
    line-height: 1.30;
    padding: 0px 20px 0px 20px;
   /*  letter-spacing: 0.5px; */
    font-size: 1.125rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;

}
.chat-image {
    width: 40px;
    height: 40px;
}
.chat-image img {
    width: 100%;
    height: 100%;
}

.chat-image .fa-user {
    padding: 7px 7px 0px 7px;
    color: white;
    font-size: 2.5em;
    border-radius: 40%;
    background-color: rgb(158, 158, 158);
}

.date-reply {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 10px 20px;
}
.date {
    font-size: 0.9rem;
    margin-right: 2em;
    color: rgb(119, 119, 119);    
}

.reply .fa-reply {
    width: 1em;
    margin-left: auto;
    font-size: 1.25em;
    font-weight: bold;
    color: rgb(184, 184, 184);
}
.reply .fa-reply:hover {
    cursor: pointer;
    color: rgb(101, 168, 0)
}

.reply .fa-reply.active {
    color: green;
}

.check {
    align-self: center;
    position: relative;
}
.check-count {
    color: rgb(136, 136, 136);
    position: absolute;
    top: -17px;
}
.fa-check-double {
    font-size: 1.25rem;
    color: rgb(187, 187, 187);
}
.fa-check-double:hover {
    cursor: pointer;
    color:greenyellow
}
.fa-check-double.checked {
    color:rgb(143, 1, 1);
}

.message-replied {
    padding: 0px 20px 0px 20px;
    font-style: italic;
}

.their-message .message-replied {
    background-color: #9eb8ff;
}
.my-message .message-replied {
    background-color: #c2c2c2;
}

.message-replied-username {
    font-weight: bold;
    padding: 10px 0px 5px 0px;
    position: relative;
}

.message-replied-text {
    padding: 0px 0px 10px 0px;
    font-size: 0.9rem;
}
.message-replied .fas.fa-reply {
    transform: rotate(180deg);
    font-size: 0.6rem;
    position: absolute;
    left: -12px;
}