.find-label {
    display: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.75rem;
    padding: 0.2em 0.3em 0.2em 0.2em;
    background: black;
    color: white;
    margin-bottom: 0.7em;
}

.find-label:hover {
    cursor: pointer;
}

.find-label-fake {
    visibility: hidden;
}

.find-label-text {
    font-family: 'Times New Roman', Times, serif
}

.find-label .fa-chevron-down {
    transition: transform 0.25s;
    transform: rotateZ(0deg);
}
.find-label .fa-chevron-down.up {
    transform: rotateZ(180deg)
}

.find-label .fa-chevron-down:hover {
    cursor: pointer;
    color: red;
}

@media all and (max-width: 768px) {
    .find-label {
        display: flex;
    }
}