.header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(180deg, rgb(80, 0, 0), rgb(216, 0, 0) );
    background: linear-gradient(180deg, rgb(40, 0, 0), rgb(107, 0, 0));
    padding: 0.7em 1em 0.7em 1em;
}

.header-links-frontend a {
    text-decoration: none;
}
.header-links-frontend-title {
    color: white;
    margin: 0;
    font-style: italic;
    display: inline-block;
}
.fa-react {
    color: white;
    margin-right: 0.3em;
}
.header-title {
    flex: 0 0 10%;
}
.header-title a { 
    text-decoration: none;
}
.header-title-text {
    font-size: 3rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.header-links {
    flex: 0 0 40%; 
}
.header-links > * {
    margin-right: 1em;
    display: inline-block;
}
.right-box {
    flex: 0 0 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-homepageBtn a, .header-allArticlesBtn a, .header-newArticleBtn a, .header-orderBtn a {
    text-decoration: none;
}

.header-homepageBtn-text, .header-orderBtn-text, .header-allArticlesBtn-text, .header-newArticleBtn-text {
    font-size: 1.175rem;
    color: white;
    text-align: center;
    padding: 0.2em 1em 0.2em 1em;
}

.header-homepageBtn:hover {
    background: rgba(0, 98, 0, 0.7);
}

.header-allArticlesBtn:hover {
    background: rgba(0, 98, 0, 0.7);
}

.header-newArticleBtn {
    margin-right: 4em;
}
.fa-feather-alt, .fa-home, .fa-list-ul, .fa-stream {
    padding-right: 0.5em;
}

.header-newArticleBtn:hover {
    background: rgba(0, 98, 0, 0.7);
}

.header-homepageBtn:active, .header-allArticlesBtn:active, .header-newArticleBtn:active {
    transform: scale(0.95, 0.90);
}

.header-orderBtn:hover  {
    background: rgba(0, 98, 0, 0.7);
}

.activeLink {
    border-bottom: 2px solid white;
}
.activeLink:hover {
    background-color: transparent;
}

.login {
    cursor: pointer;
    position: relative;
}

.fa-user-edit {
    font-size: 1.5rem;
    color: white;
}
.login-info {
    color: white;
    position: absolute;
    width: 9em;

    right: 70%;
    line-height: 1.5;
    text-align: center;
    background: rgb(0, 110, 0);
    letter-spacing: 1px;
    padding: 0.3em 0.5em 0.3em 0.5em;
    border-radius: 15px;
    display: none;
}

.login-info-title {
    font-size: 0.8rem;
}
.login:hover .login-info {
    display: block;
}