.homepage {
    /* height: 100%; */
    flex: 1;
    padding: 0.1px;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/site-news-storage.appspot.com/o/site-news-images%2Ftypewriter6.jpg?alt=media&token=4be6d1d9-f64f-4ca0-a733-94969d18ef15');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    
}
.homepage-links {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15em;
    margin-bottom: 25em;
}
.homepage-newArticleBtn, .homepage-allArticlesBtn, .homepage-frontpage-order {
    flex: 0 0 30%;
    border: 5px double rgb(133, 1, 1);

    border-radius: 10%;
    box-shadow: 0 0 50px 0px black;
    background: rgb(189, 0, 0, 0.5);
}
.homepage-newArticleBtn:active, .homepage-allArticlesBtn:active, .homepage-frontpage-order:active {
    transform: scale(0.99, 0.98);
}
.homepage-newArticleBtn:hover, .homepage-allArticlesBtn:hover, .homepage-frontpage-order:hover {
    background: rgb(1, 122, 1, 0.5);
    
}
.homepage-newArticleBtn a, .homepage-allArticlesBtn a, .homepage-frontpage-order a {
    text-decoration: none;
}
.homepage-newArticleBtn-text, .homepage-allArticlesBtn-text, .homepage-frontpage-order-text {
    color: white;
    font-size: 2.5rem;
    padding: 3em 0.5em 3em 0.5em;
    text-align: center;
}