.imgCropper {
    display: flex;
    align-items: flex-start;
}

.crop-btn {
    margin-right: 1em;
    margin-left: 1em;
    font-size: 1rem;
    padding: 0.1em 0.3em 0.1em 0.3em;
}
.crop-btn:hover {
    cursor: pointer;
}


.ReactCrop div {
    width: 620px;
}

.ReactCrop div img {
    width: 100%;
}

.previewCanvas {
    display: none;
}

@media all and (max-width: 748px) {
    .article-photo {
        padding: 0 1em 0 1em;
    }
    .imgCropper {
        flex-direction: column;
     
    }
    .ReactCrop div {
        width: 100%;
    }
    .crop-btn {
        margin: 1em 0 0.5em 0;
    }
}