.generic-thumb {
    width: 620px;
    height: 348px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
}
.generic-thumb span {
    color: white;
    font-style: italic;
    font-size: 7em;
    font-weight: bold;
}

.article-photo {
    padding-top: 6em;
}
.article-photo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15em;
}

.article-photo-img {
    width: 620px;
}
.imgDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    padding: 1em;
}
.imgDescription label {
    margin-right: 1em;
}
.imgDescription input {
    padding: 0.2em 0.5em 0.2em 0.5em;
    width: 40em;
}

