@media all and (max-width: 768px) {
    html {
        font-size: 12px;
    }
    .homepage-links {
        height: 100%;
        flex-direction: column;
        justify-content: space-around;
        margin-top: 4em;
        width: 75%;
        margin-bottom: 10em;
    }
    .homepage-newArticleBtn, .homepage-allArticlesBtn, .homepage-frontpage-order {
        margin-bottom: 4em;
    }
    .header-links-frontend-title {
        font-size: 1rem
    }
    .homepage-newArticleBtn-text, .homepage-allArticlesBtn-text, .homepage-frontpage-order-text {
        font-size: 2.5rem;
        padding: 2em 0.5em 2em 0.5em;
    }
    
    .order-articles {
        width: 100%;
    }
    .order-articles-item-elements {
        font-size: 0.5rem;
    }
    .order-send-button {
        width: 40%;
    }
    .order-articles-item-number {
        width: 1.5em;
        margin-left: 0.5em;
        margin-right: 0.5em;
        font-size: 1.5rem;
    }
}