.profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 2em;
    background-image: url('https://firebasestorage.googleapis.com/v0/b/site-news-storage.appspot.com/o/site-news-images%2Ftypewriter6.jpg?alt=media&token=4be6d1d9-f64f-4ca0-a733-94969d18ef15');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.profile {
    letter-spacing: 1.5px;
}

.profile-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(143, 143, 143, 0.5);
    margin-bottom: 3em;
    padding: 0.7em 1em 0.7em 1em;
    box-shadow: 10px 10px 15px 0px rgb(63, 63, 63);
}
.profile-element-description {
    font-weight: bold;
    color: black;
    margin-bottom: 0.5em;
}

.profile-element .data {
    
    font-size: 2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 3px 3px black;
}



.profile-signOut {
    display: block;
    width: 80%;
    margin: auto;
    border: none;
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding: 0.6em 0.6em 0.6em 0.6em;
    color: white;
    background: rgba(0, 98, 0, 0.7);
    box-shadow: 5px 5px 5px 0px rgb(63, 63, 63);
}
.profile-signOut:active {
    transform: scale(0.99, 0.92);
}
.profile-signOut:hover {
    cursor: pointer;
    background: rgba(0, 150, 0, 0.7);
}