/* .search {
    margin-left: 5em;
} */

.search {
    display: flex;
    justify-content: center; 
    align-items: center;
    background:rgb(148, 148, 148);
    padding: 0.7em;
    margin-bottom: 1em;
    transition: transform 250ms;
}
.search input {
    margin-right: 1.25em;
    outline: none;
}
.search-button {
    width: 100px;
    color: white;
    background: green;
}
.fa-search {
    display: none;
    transition: transform 250ms;
    font-size: 1.5rem;
    color: white;
}
.fa-search:hover {
    cursor: pointer;
    color: rgb(0, 122, 0);
}
.fa-search:active {
    transform: scale(0.9);
}

@media all and (max-width: 768px) {
    
    .search-button {
        display: none;
    }
    .fa-search {
        display: block;
    }
}