/* .search {
    margin-left: 5em;
} */


.calendar-container {
    display: inline-block;
    margin-right: 2em;
    color: rgb(199, 199, 199);
    cursor: not-allowed;
    pointer-events: none;
}

.calendar-container.active {
    color: black;
    cursor: pointer;
    pointer-events: all;
}

/* .calendar-select:hover {
    cursor: pointer;
} */


.calendar-select span {
    margin-right: 0.5em;
}

.react-calendar {
    position: absolute;
    display: none;
}

.react-calendar.show {
    display: block;
}

.search-button.sending {
    background: rgb(81, 219, 1);
    cursor: pointer;
}

.fa-calendar-alt.show {
    transform: scale(1.11)
}
/* .fa-calendar-alt:hover {
    cursor: pointer;
}
 */