
.tags-row {
    display: inline-flex;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    margin-right: 1em;
    margin-bottom: 0.5em;
    padding: 0.2em 0.6em 0.2em 0.6em;
    letter-spacing: 1.25px;
    background: rgb(93, 93, 93);
    color: white;
    border-radius: 15%;
}

.tag::before {
    content: '#';
}

.tag i.fa-times {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.75rem;
}

.tag i.fa-times:hover {
    cursor: pointer;
    border-radius: 5px;
}

.tags-button {
    margin-right: 1.3em;
    margin-bottom: 0.5em;
}

.tags-button:hover {
    cursor: pointer;
}