.article-video {
    padding-top: 6em;
    min-height: 100vh;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15em;
}

.video {
    width: 620px;
}

.inputVideo label {
    margin-left: 1em;
}
.inputVideo input {
    margin-left: 1em;
}

.videoDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
    padding: 1em;
}
.videoDescription label {
    margin-right: 1em;
}
.videoDescription input {
    padding: 0.2em 0.5em 0.2em 0.5em;
    width: 40em;
}

@media all and (max-width: 748px) {

    .article-video {
        padding: 1em;
    }
    .video-container {
        flex-direction: column;
    }
    .video {
        width: 100%;
    }
    .inputVideo {
        margin: 1em 0 0 0;
    }
    .inputVideo input {
        margin: 0;
    }
}